/* soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('../About.me/img/2927262.jpg');
    background-size: auto auto;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    font-size: 12px;
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }

  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  /* breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .menu{
    position: fixed;
    width: 100vw;
    top: 0;

  }

  .menu li{
    list-style: none;
    }
  .menu ul {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
  }
  .menu a{
    display: block;
    padding: 10px 20px;
  }
  a{
    color: rgb(0, 110, 255);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  } 
  
  .site-subtitle,
  .site-title{
    text-align: center;
    color: whitesmoke;
  }

  .site-title{
    font-size: 2em;
    font-family: 'Parisienne', cursive;
  }
  
  .site-subtitle{
    font-style: italic;
    font-family: 'VT323', monospace;
  }

  .portfolio {
    padding: 2em;
    height: 100vh;
  }

  .img-portfolio {
    width: 240px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }

  .grid {
    display: grid;
    gap: 5em;
    padding: 1em;
  }

  @media (min-width: 700px){
    .grid {
      grid-template-columns: 240px 240px;
      align-content: center;
      justify-content: center;
      height: 75vh;
    }
  }

  .portfolio figure{
    text-align: center;
  }

  figcaption{
    color: white;
  }

  section h2{
    font-size: 4em;
    color: steelblue;
    font-family: 'VT323', monospace;
  }